# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pQ9yOFsEg9z3bXK3
mongodb+srv://atharvapandharikar5:gFkzBh9IbS9IMYzY@cluster0.fw8ev.mongodb.net/